#
# Copyright 2016-present the IoT DC3 original author or authors.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

# 以下内容会覆盖 application.yml, 即: 如果在 application.yml 中昂配置以下内容是不会生效的
# 如果想要覆盖以下内容需要在 application-dev, application-test, application-pre, application-pro 中进行重新配置
spring:
  quartz:
    properties:
      org:
        quartz:
          scheduler:
            instanceName: ${spring.application.name}-quartz-scheduler
            instanceId: AUTO
          threadPool:
            threadsInheritContextClassLoaderOfInitializingThread: true
            class: org.quartz.simpl.SimpleThreadPool
            threadPriority: 5
            threadCount: 50